<section class="services">
  <div class="container">
    <h2 class="title">Наші послуги</h2>
    <div class="services-wrap">
      <div class="services-wrap__item" data-aos="fade-down-right" data-aos-duration="1000">
        <div class="services-img">
          <img src="./images/services-1.jpg" alt="Key City Service у м.Буча">
        </div>
        <div class="services-col">
          <div class="services-title">
            Виготовлення квартирних ключів
          </div>
          <ul>
            <li>англійського типу;</li>
            <li>перфорованого типу;</li>
            <li>фінського типу;</li>
            <li>сувальдного типу;</li>
            <li>хрестоподібного типу.</li>
          </ul>
          <a href="tel:+380636161615" class="btn btn-call">
            Детальніше
          </a>
        </div>
      </div>
      <div class="services-wrap__item" data-aos="fade-up-left" data-aos-duration="1000">
        <div class="services-img">
          <img src="./images/services-2-upd.jpg" alt="Key City Service у м.Буча">
        </div>
        <div class="services-col">
          <div class="services-title">
            Виготовлення ключів для спецтехніки
          </div>
          <ul>
            <li>мотоцикли;</li>
            <li>скутери;</li>
            <li>бензоколонки;</li>
            <li>кавові автомати;</li>
            <li>велосипеди;</li>
            <li>трактори;</li>
            <li>шафи;</li>
            <li>комірки;</li>
            <li>інше.</li>
          </ul>
          <a href="tel:+380636161615" class="btn btn-call">
            Детальніше
          </a>
        </div>
      </div>
      <div class="services-wrap__item" data-aos="fade-down-right" data-aos-duration="1000">
        <div class="services-img">
          <img src="./images/services-3.jpg" alt="Key City Service у м.Буча">
        </div>
        <div class="services-col">
          <div class="services-title">
            Виготовлення та ремонт автомобільних ключів
          </div>
          <ul>
            <li>ключі прості;</li>
            <li>з транспондерарами;</li>
            <li>з радіосигналом;</li>
            <li>смартключі;</li>
            <li>ремонт та заміна корпусів автоключів;</li>
            <li>відновлення ключів по блоку іммобілайзера;</li>
            <li>заміна елементів живлення.</li>
          </ul>
          <a href="tel:+380636161615" class="btn btn-call">
            Детальніше
          </a>
        </div>
      </div>
      <div class="services-wrap__item" data-aos="fade-up-left" data-aos-duration="1000">
        <div class="services-img">
          <img src="./images/services-4.jpg" alt="Key City Service у м.Буча">
        </div>
        <div class="services-col">
          <div class="services-title">
            Виготовлення домофонних ключів
          </div>
          <ul>
            <li>контактні та безконтактні (RFID мітки).</li>
          </ul>
          <a href="tel:+380636161615" class="btn btn-call">
            Детальніше
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
