.services {
  padding-top: 120px;
  padding-bottom: 40px;

  @media(max-width: 768px) {
    overflow: hidden;
    padding-top: 60px;
  }

  &-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;

    @media(max-width: 768px) {
      font-size: 18px;
    }
  }

  &-wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;

    @media(max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &-wrap__item {
    position: relative;
    padding: 24px;
    background-color: #282425;
    display: flex;
    flex-direction: column;

    @media(max-width: 768px) {
      padding: 10px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      .services-img:before {
        top: -20px;
        right: -20px;
        bottom: auto;
        left: auto;
      }
    }
  }

  &-img {
    height: 360px;
    width: 100%;

    @media(max-width: 991px) {
      height: 280px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
    }
  }

  &-col {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-left: auto;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;

    @media(max-width: 768px) {
      padding: 24px 10px 20px;
    }

    .btn {
      margin-top: auto;
      color: #fff;
      background-color: rgba(243, 116, 17, 0.9);

      @media(max-width: 768px) {
        margin-top: 40px;
      }
    }

    ul {
      margin-bottom: 40px;

      @media(max-width: 768px) {
        margin-bottom: 0px;
        padding-left: 20px;
      }

      li {
        margin-bottom: 8px;
      }
    }
  }
}