<section class="hero">
  <div class="container">
    <h2 class="title" data-aos="fade-up">
      Майстерня з виготовлення Ключів / Авто Ключів
      </br>
      <span>у м.Буча</span>
    </h2>
    <div class="hero-wrap">
      <div class="hero-text">
        <p>Потрібно виготовити запасний ключ до Авто чи відновити втрачений??</p>
        <p>Звертайтесь до майстерні <b>Key City Service</b>!!! </br>Ми вам допоможемо вирішити це питання.</p>
        <p><b>Key City Service</b> - надає послуги наступних видів.</p>
        <ul>
          <li>Програмування авто ключів <b>з чіпом</b>.</li>
          <li>Програмування авто ключів <b>Smart</b> з системою <b>Keyless</b>.</li>
          <li>Програмування пультів для управління штатного радіоканалу.</li>
          <li>Відновлення ключів при повній втраті.</li>
          <li>Відновлення <b>жала</b> при повній втраті.</li>
          <li>Заміна корпуса авто ключа з викидним жалом.</li>
          <li>Нарізка жала та Програмування авто ключа клієнта.</li>
          <li>Заміна кнопок <b>на платі пульта для управління центрального замка</b>.</li>
          <li>Виготовлення технічного ключа для дверного замка.</li>
          <li>Виготовлення <b>мото</b> ключів.</li>
          <li>Заміна Елементів живлення в ключах.</li>
        </ul>
        <a href="tel:+380636161615" class="btn btn-call" data-aos="fade-right" data-aos-duration="1000">
          <span>
            <img src="./images/phone.svg" alt="Key City Service у м.Буча">
          </span>
          Зателефонувати
        </a>
      </div>
    </div>
  </div>
</section>