<section class="hero">
  <div class="container">
    <h2 class="title">
      Центр виготовлення дублікатів ключів
      </br>
      <span>у м.Буча</span>
    </h2>
    <div class="hero-wrap">
      <div class="hero-text">
        <p>Втратив ключі від свого авто, квартири або офісу? Не хвилюйтесь, ми готові <b>допомогти вам</b>! Наш сервіс
          дублікату
          ключів пропонує швидке та надійне відновлення ключів будь-якого типу та складності.</p>
        <p>Наші професійні майстри забезпечують <b>високу якість роботи</b> та <b>швидке виконання замовлень</b>. Ми
          використовуємо
          сучасне обладнання та матеріали високої якості, що гарантує довговічність та надійність вашого нового ключа.
        </p>
        <p>Наш сервіс доступний для всіх, незалежно від марки автомобіля, типу замка або складності ключа. Ми можемо
          дублювати ключі для будь-якої марки автомобіля, від старих класичних моделей до новітніх електричних машин. Ми
          також пропонуємо дублювання ключів для будь-якої квартири або офісу.</p>
        <p>Звертаючись до нас, ви можете бути впевнені, що ваші ключі будуть відновлені якісно та швидко. Ми
          забезпечуємо
          <b>100% задоволення клієнтів</b> та гарантуємо якість нашої роботи.</p>
        <p>Не відкладайте свої проблеми на потім, зверніться до нашого <b>сервісу дублікату ключів</b> вже сьогодні та
          отримайте
          найкращий сервіс за доступними цінами!</p>
        <a href="tel:+38063616161" class="btn btn-call">
          <span>
            <img src="./images/phone.svg" alt="#">
          </span>
          Зателефонувати
        </a>
      </div>
    </div>
  </div>
</section>
