<meta name="viewport" content="height=device-height, 
  width=device-width, initial-scale=1.0, 
  minimum-scale=1.0, maximum-scale=1.0, 
  user-scalable=no, target-densitydpi=device-dpi" />
<meta name="msapplication-navbutton-color" content="#212121" />
<meta name="apple-mobile-web-app-status-bar-style" content="#212121" />
<link rel="apple-touch-icon" sizes="180x180" href="https://www.etna.network/images/upd-apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://www.etna.network/images/upd-favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="https://www.etna.network/images/upd-favicon-16x16.png" />
<link rel="manifest" href="https://www.etna.network/images/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<title>ETNA Network DeFI ecosystem</title>
<meta name="description" content="ETNA Network is an ecosystem of interconnected products in DeFi, gaming and NFT" />

<meta name="keywords" content="crypto bank, ETNA, ETNA Network, staking, DeFi, free crypto, free money" />
<meta itemprop="name" content="ETNA Network DeFI ecosystem" />
<meta itemprop="description" content="ETNA Network is an ecosystem of interconnected products in DeFi, gaming and NFT" />
<meta itemprop="image" content="https://www.etna.network/images/upd-favicon-32x32.png" />

<link rel="alternate" hreflang="en" href="https://etna.network/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="https://etna.network/" />
<meta name="twitter:title" content="ETNA Network DeFI ecosystem" />
<meta name="twitter:description"
  content="ETNA Network is an ecosystem of interconnected products in DeFi, gaming and NFT" />
<meta name="twitter:creator" content="" />
<meta name="twitter:image" content="https://www.etna.network/images/upd-favicon-32x32.png" />
<meta name="twitter:image:alt"
  content="ETNA Network is an ecosystem of interconnected products in DeFi, gaming and NFT" />
<meta property="og:title" content="ETNA Network DeFI ecosystem" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://etna.network/" />
<meta property="og:image" content="https://www.etna.network/images/image-for-seo.jpg" />
<meta property="og:image:alt" content="ETNA Network DeFI ecosystem" />
<meta property="og:description"
  content="ETNA Network is an ecosystem of interconnected products in DeFi, gaming and NFT" />
<meta property="og:site_name" content="ETNA Network DeFI ecosystem" />
<meta property="article:section" content="ETNA Network DeFI ecosystem" />
<meta property="article:tag" content="crypto bank, ETNA, ETNA Network, staking, DeFi, free crypto, free money" />
