.call {
  padding: 80px 0px 60px;
  position: relative;
  overflow: hidden;

  @media(max-width: 768px) {
    padding: 40px 0px 0px;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 42%;
    height: 50%;
    background-color: rgba(243, 116, 17, 0.5);
  }

  &-wrap {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  &-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 768px) {
      width: 100%;
      height: 320px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 24px;

    @media(max-width: 768px) {
      width: 100%;
      padding: 32px 0px 20px;
    }
  }

  .title {
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    margin-bottom: 60px;
  }
}
