<section class="call">
  <div class="container">
    <div class="call-wrap">
      <div class="call-image">
        <img src="./images/keys-call.jpeg" alt="key service Буча">
      </div>
      <div class="call-col">
        <h2 class="title">Виникли питання?</h2>
        <p>Ми проконсультуємо з будь-якого питання. :)</p>
        <a href="tel:+38063616161" class="btn btn-call">
          <span>
            <img src="./images/phone.svg" alt="#">
          </span>
          Зателефонувати
        </a>
      </div>
    </div>
  </div>
</section>
