<section class="call">
  <div class="container">
    <div class="call-wrap">
      <div class="call-image" data-aos="fade-up"
      data-aos-anchor-placement="center-center" data-aos-duration="1000">
        <img src="./images/keys-call.jpeg" alt="Key City Service у м.Буча">
      </div>
      <div class="call-col">
        <h2 class="title">Виникли питання?</h2>
        <p>Ми проконсультуємо з будь-якого питання. :)</p>
        <a href="tel:+380636161615" class="btn btn-call">
          <span>
            <img src="./images/phone.svg" alt="Key City Service у м.Буча">
          </span>
          Зателефонувати
        </a>
      </div>
    </div>
  </div>
</section>
