.header {

  &.footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .footer-logo {
    width: 80px;
    height: 80px;

    @media(max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  .footer-schedule__title {
    font-size: 20px;
  }

  .footer-schedule__text {
    font-size: 16px;
  }

  .footer-contacts__tel {
    font-size: 24px;
  }

  .footer-contacts__socials {
    margin-bottom: 16px;

    a {
      width: 32px;
      height: 32px;
    }
  }

  .footer-contacts {

    @media(max-width: 520px) {
      margin-top: 20px;
    }

    &__socials {
      @media(max-width: 768px) {
        justify-content: flex-start;
      }
    }
  }
}
