<section class="footer">
    <div class="container">
        <div class="footer-row">
            <a href="tel:+380636161615" class="footer-logo">
                <img src="./images/logo.jpeg" alt="Key Service Бучв">
            </a>
            <div class="footer-schedule">
                <p class="footer-schedule__title">Графік роботи</p>
                <p class="footer-schedule__text">Пн-Пт: з 10-00 до 20-00</p>
                <p class="footer-schedule__text">Сб-Нд: вихідний</p>
            </div>
            <div class="footer-contacts">
                <div class="footer-contacts__socials">
                    <a href="https://www.instagram.com/key_city_service/">
                        <img src="./images/instagram.svg" alt="#">
                    </a>
                    <a href="viber://chat?number=%2B380636161615">
                        <img src="./images/viber.svg" alt="#">
                    </a>
                    <a href="https://t.me/+380636161615">
                        <img src="./images/telegram.svg" alt="#">
                    </a>
                    <a href="https://www.facebook.com/KeyCityService">
                        <img src="./images/facebook.svg" alt="#">
                    </a>
                </div>
                <a href="tel:+380636161615" class="footer-contacts__tel">+380636161615</a>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        Всі права захищені | @2023
    </div>
</section>
