*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  border: 0rem;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: "Inter", sans-serif;

  &:focus {
    outline: none;
  }
}

input,
textarea {
  font-family: "Inter";
  font-size: 1.4rem;
  color: var(--white);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Inter";
    color: var(--white);
    opacity: 0.6;
  }

  &::-webkit-input-placeholder {
    font-family: "Inter";
    color: var(--white);
    opacity: 0.6;
  }
}

p {
  margin: 0rem;
}

:focus {
  outline: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

section {
  position: relative;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  text-align: center;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 60px;

  @media(max-width: 768px) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-call {
  width: fit-content;
  border-radius: 8px;
  padding: 12px 32px;
  font-size: 24px;
  background-color: rgba(243, 116, 17, 0.5);
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #333;
  transition: all 0.35s;

  @media(max-width: 768px) {
    padding: 6px 16px;
    height: 54px;
    font-size: 18px;
  }

  span {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    @media(max-width: 768px) {
      width: 28px;
      height: 28px;
      margin-right: 6px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

@import "./../components/header/header.scss";
@import "./../components/hero/hero.scss";
@import "./../components/services/services.scss";
@import "./../components/benefits/benefits.scss";
@import "./../components/gallery/gallery.scss";
@import "./../components/call/call.scss";
@import "./../components/map/map.scss";
@import "./../components/footer/footer.scss";
