<section class="map">
  <div class="container">
    <h2 class="title">
      Як нас знайти
    </h2>
    <div class="map-wrap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d633.7881109429552!2d30.220183269715555!3d50.54993499822569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTDCsDMyJzU5LjgiTiAzMMKwMTMnMTUuMCJF!5e0!3m2!1sen!2sua!4v1683359753222!5m2!1sen!2sua"
        width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>