<section class="map">
  <div class="container">
    <h2 class="title">
      Як нас знайти
    </h2>
    <div class="map-wrap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487.6070484114996!2d30.220194095531713!3d50.54988413478808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b31bfaf78de29%3A0x385adfef26551526!2z0YPQuy4g0J7QutGC0Y_QsdGA0YzRgdC60LDRjywg0JHRg9GH0LAsINCa0LjQtdCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDA4Mjky!5e0!3m2!1sru!2sua!4v1683381021124!5m2!1sru!2sua"
        width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="map-row">
      <div class="map-place">
        <img src="./images/our-market-2.jpg" alt="Key City Service у м.Буча">
      </div>
      <div class="map-place">
        <img src="./images/our-market-1.jpg" alt="Key City Service у м.Буча">
      </div>
    </div>
  </div>
  </div>
</section>