<section class="map">
  <div class="container">
    <h2 class="title">
      Як нас знайти
    </h2>
    <div class="map-wrap" data-aos="fade-down-right" data-aos-duration="1000">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d633.7900870020186!2d30.220421!3d50.549788!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b31fa0733b2f9%3A0x8fe885fc3faf49bb!2z0JrQvtGC0Y0g0LrQsNCy0LA!5e0!3m2!1sru!2sua!4v1683388346718!5m2!1sru!2sua"
        width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="map-row">
      <div class="map-place" data-aos="fade-down-right" data-aos-duration="1000">
        <img src="./images/our-market-2.jpg" alt="Key City Service у м.Буча">
      </div>
      <div class="map-place" data-aos="fade-down-left" data-aos-duration="1000">
        <img src="./images/our-market-1.jpg" alt="Key City Service у м.Буча">
      </div>
    </div>
  </div>
  </div>
</section>