<section class="benefits">
  <div class="container">
    <h2 class="title">
      Наші переваги
    </h2>
    <div class="benefits-wrap">
      <div class="benefits-wrap__item">
        <div class="benefits-wrap__img">
          <img src="./images/benefit-1.svg" alt="">
        </div>
        <div class="benefits-wrap__text">
          Великий досвід роботи
        </div>
      </div><div class="benefits-wrap__item">
        <div class="benefits-wrap__img">
          <img src="./images/benefit-4.svg" alt="">
        </div>
        <div class="benefits-wrap__text">
          Швидкість виконаної роботи
        </div>
      </div>
      <div class="benefits-wrap__item">
        <div class="benefits-wrap__img">
          <img src="./images/benefit-2.svg" alt="">
        </div>
        <div class="benefits-wrap__text">
          Гарантія на роботу
        </div>
      </div>
      <div class="benefits-wrap__item">
        <div class="benefits-wrap__img">
          <img src="./images/benefit-3.svg" alt="">
        </div>
        <div class="benefits-wrap__text">
          Ваша безпека - наш пріоритет
        </div>
      </div>
    </div>
  </div>
</section>
